.container {
  width: 1250px;
  margin: auto;
}

.head {
  width: 100%;
  height: 80px;
  background-color: #1e1e1e;
  overflow: hidden;
}

.headname {
  color: white;
  text-align: center;
}

.subtext {
  color: azure;
  font-size: 20px;
}

.navigation {
  width: 100%;
  text-align: center;
  background-color: #38454c;
  height: 50px;
  overflow: hidden;
}

.foratag {
  width: 80%;
  padding: 10px;
  height: 100%;
}

.home {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  margin-left: 150px;
}

.about {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
}

.portfolio {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
}

.contact {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}

#about {
  background-color: #f4f4f4;
  height: 615px;
  width: 35%;
  font-size: 20px;
  float: left;
  padding: 20px;
}

.aboutme {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.aboutname {
  color: #000000;
  font-size: 30px;
  margin-bottom: 10px;
}

.abouttext {
  color: #666;
  margin-bottom: 20px;
}

#projects {
  width: 58.6%;
  font-size: 20px;
  float: right;
  background-color: #f6f6f6;
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  color: #333;
  font-size: 22px;
  margin-bottom: 10px;
}

.project p {
  color: #666;
  margin-bottom: 10px;
}

.hire-me {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.hire-me h2 {
  color: #ff8c00;
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.hire-me p {
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
}

.hire-me .offer {
  color: #ff6600;
  font-weight: bold;
  margin-top: 20px;
  font-size: 25px;
  font-style: italic;
}

.hire-me button {
  background-color: limegreen;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;
}

.contact-details h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 15px;
}

.contact-details .details p {
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-details .details p i {
  margin-right: 10px;
}

.contact-details .details p:nth-child(odd) {
  color: #333;
}

.contact-details .details p:nth-child(even) {
  color: lime;
}

.contact-details .social-media a {
  color: #333;
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.contact-details .social-media a:hover {
  color: #007bff;
}

.foot {
  width: 100%;
  height: 80px;
  background-color: #38454c;
  color: aliceblue;
  clear: both;
}

.foottext {
  text-align: center;
  padding: 20px;
  padding-top: 20px;
}

/* Additional styles for Skills List Names */
.skills-list li {
  color: limegreen;
}
