.container {
  width: 1150px;
  margin: auto;
}
.ai {
  border-width: 3px;
  margin: 10px;
  border-style: solid;
  border-color: gold;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
}
.aih2 {
  text-align: center;
  width: 1200px;
  color: gold;
}
#metah2 {
  text-align: center;
  width: 1200px;
  color: blue;
}

.meta {
  border: 3px solid blue;
  margin: 10px;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
}
.divai {
  width: 300px;
  height: 300px;
  background-color: gold;
  text-align: center;
  font-size: 30px;
  padding-top: 3%;
  color: aliceblue;
  float: left;
  border: 5px solid blue;

  border-radius: 50%;
  margin: auto;
  margin: 25px;
}

span {
  margin-top: 120px;
  display: block;
}

.divmeta {
  float: right;
  width: 300px;
  height: 300px;
  background-color: blue;
  text-align: center;
  font-size: 30px;
  padding-top: 3%;
  color: aliceblue;
  border: 5px solid gold;

  border-radius: 50%;
  margin: auto;
  margin: 25px;
}

.vs {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: red;
  color: aliceblue;
  border-radius: 60px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin-left: 190px;
  margin-top: 170px;
  border: 5px rgb(111, 224, 35);
  border-style: double;
}

.vs2 {
  display: block;
  margin-top: 40px;
}
#footcss {
  width: 1130px;
  overflow: hidden;
font-size: 23px;
text-align: center;
color: aliceblue;
background-color: black;
padding: 6px 3px;
border-radius: 2px;
margin: auto;
}
