.container {
  width: 1250px;
  margin: auto;
}
.ai {
  border-width: 3px;
  margin: 10px;
  border-style: solid;
  border-color: gold;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
.aih2 {
  text-align: center;
  width: 1200px;
  color: gold;
}
#metah2 {
  text-align: center;
  width: 1200px;
  color: blue;
}

.meta {
  border: 3px solid blue;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
.divai {
  width: 400px;
  height: 400px;
  background-color: gold;
  text-align: center;
  font-size: 30px;
  padding-top: 5%;
  color: aliceblue;
  float: left;
  border: 5px solid blue;
  margin: 15px;
  border-radius: 50%;margin: auto;
}

span {
  margin-top: 160px;
  display: block;
}

.divmeta {
  float: right;
  width: 400px;
  height: 400px;
  background-color: blue;
  text-align: center;
  font-size: 30px;
  padding-top: 5%;
  color: aliceblue;
  border: 5px solid gold;
  margin: 15px;
  border-radius: 50%;margin: auto;
}

.vs{margin: auto;
  width: 100px;
height: 100px;
background-color: red;
color: aliceblue;
border-radius: 60px;
text-align: center;
overflow: hidden;
display: inline-block;
margin-left: 150px;
margin-top: 200px;
border: 5px rgb(111, 224, 35);
border-style: double;
}

.vs2{display: block;
  margin-top: 40px;

}
