body {
  max-width: 1250px;
  background-image: url(/PracticeFiles/practice-media/ai-nuclear-energy-background-future-innovation-disruptive-technology.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  color: black;
  font-size: 20px;
  text-align: center;
}

main {
  text-align: center;

}
.ulcss{list-style: none;}

#gallery{}

.image-gallery img {width: 110px;padding: 10px;}