body{margin: 0px auto;
padding: 0px;
box-sizing: border-box;
background-color: whitesmoke;

}

header{background-color: #2d3436;
color: whitesmoke;width: 1280px;margin: auto;
display: flex;
}
.logo{display: flex;}
.logo img{width: 150px;padding: 5px; display: inline;height: fit-content;margin-left: 15px;}
.logo h2{ display:inline;margin-left: 15px;}

.navbar{display: flex;justify-content: center;margin-left: 220px;}
.navbar ul{list-style: none;}
.navbar ul li{ background-color: #262626;
width: 130px;height: 30px; float: right;
text-align: center; color: whitesmoke;padding-top: 15px;
font-size: 15px;
text-transform: uppercase;
}
.navbar ul li a{text-decoration: none; color: whitesmoke}

.navbar ul li a:hover{

}
