body{max-width: 1250px;margin: auto;}
h2{color: whitesmoke;background-color: black;text-align: center;margin-top: 5px;padding: 5px 10px;}

.mark{border-collapse: collapse;
  border: 3px solid black; text-align: center;}
.mark th{border: 2px solid black;}

hr {height: 5px; background-color: black;}


#Salary{border-collapse: collapse;
border: 3px solid rgb(15, 73, 246); text-align: center;}
#Salary th {border: 2px solid rgb(15, 73, 246);}

.over{
  font-size: 20px;border: 2px solid black;
max-width: 400px;height: 600px;
overflow: scroll;}

.flag{text-align: center;color: whitesmoke;background-color: black;}
.nflag{width: 700px;margin: auto;margin-bottom: 20px;}

.greenbox{width: 700px;height: 400px;background-color: green;
position: relative;

}
.redbox{width: 230px; height: 230px; background-color: red;
position: absolute;
top: 0%;left: 0%;right: 0%;bottom: 0%;margin: auto;border-radius: 50%;
}
