.container {
  margin: auto;

}
.tittlefrpg{
  background-color: black;
  color: aliceblue;
text-align: center;padding: 10px;font-family: 'Franklin Gothic Medium';

}
.fa-twitter{
  color: #00acee;
  font-size: 40px;
}
.fa-hashtag{
color: black;
font-size: 40px;
}
.sptw{font-size: 40px;}
.material-icons-outlined{
color: #00acee;font-size: 35px;
}
.myname{font-size: 40px;display: inline;}
.verify{text-align: center;font-size: 35px;}
