body {
  max-width: 1250px;
  background-image: url(/PracticeFiles/practice-media/ai-nuclear-energy-background-future-innovation-disruptive-technology.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  font-size: 20px;
  text-align: center;
}
.wlc {
  color: aliceblue;
}

#about {
  color: aliceblue;
}
main {
  text-align: center;
}

.ulcss {
  list-style: none;
  color: rgb(22, 23, 22);
}

.image-gallery img {
  width: 110px;
  padding: 10px;
  border-radius: 25px;
}

.foott {
  color: aliceblue;
}
