.container {
  margin: auto;
}
.tittlefrpg {
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 5px 10px;
}
.fa-twitter {
  color: #00acee;
  font-size: 40px;
}
.fa-hashtag {
  color: black;
  font-size: 40px;
}
.sptw {
  font-size: 40px;
}
.material-icons-outlined {
  color: #00acee;
  font-size: 35px;
}
.myname {
  font-size: 40px;
  display: inline;
}
.verify {
  text-align: center;
  font-size: 35px;
}
hr {
  height: 5px;
  background-color: black;
}

.linkstag {
  color: antiquewhite;
  background-color: black;
  text-align: center;
  padding: 5px 10px;
}

.alllinks {
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: whitesmoke;
  transition: 1s;
}
a:active {
  color: red;
  background-color: whitesmoke;
}
/* in needed-
a:visited {
  border-color: blue;
}
*/

.google {
  color: black;
  border: 2px solid black;
  padding: 3px;
  border-radius: 5px;
}

.fa-google {
  color: #1976d2;
}

.ecm {
  color: black;
  border: 2px solid black;
  padding: 3px;
  border-radius: 5px;
}

.fa-cart-shopping {
  color: rgb(253, 175, 29);
}

.csslink {
  color: black;
  border: 2px solid black;
  padding: 3px;
  border-radius: 5px;
}
