body {
  width: 1200px;
  margin: auto;background-color: black;color: aliceblue;
}


.andres{
text-align: center;
border: 3px solid rgb(159, 157, 157);
margin-top: 50px;
outline: 3px solid whitesmoke;
outline-offset: 4px;






}
.irfan {
text-align: center;
border: 2px solid whitesmoke;
margin-top: 50px;
outline-width: 4px;
outline-style: dashed;
outline-color: rgb(255, 0, 55);
outline-offset: 3px;
padding: 3px;

}
