body {
  width: 1200px;
  margin: auto;
  background-color: black;
  color: aliceblue;
}

.andres {
  text-align: center;
  border: 3px solid rgb(159, 157, 157);
  margin-top: 50px;
  outline: 3px solid whitesmoke;
  outline-offset: 4px;
}
.irfan {
  text-align: center;
  border: 2px solid whitesmoke;
  margin-top: 50px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: rgb(255, 0, 55);
  outline-offset: 3px;
  padding: 3px;
}
.Irfan2 {
  text-align: center;
  border-bottom: 3px solid whitesmoke;
}
.shm {
  text-align: center;
  border-left: 5px solid whitesmoke;
  border-right: 5px solid whitesmoke;
  width: 180px;
  margin: auto;
}
hr {
  color: rgb(236, 241, 244);
  height: 1px;
  background-color: aliceblue;
}

.linepractice {
  font-size: 25px;
  text-indent: 22%;
  text-transform: capitalize;
  word-spacing: 5px;
  letter-spacing: 3px;
  line-height: 35px;
}
