.external{text-align: center;background-color: red;color:white;}
.lorem{font-size: 25px;padding: 2px;margin: 5px;}
.boldlorem{color: white;background-color: red;margin: 5px;padding: 5px;border-radius: 5px;}
.google{font-size: 50px; text-align: center;width: 100%;}
#g{color: #4285F4;}
#o{color: #DB4437;}
#o2{color: #F4B400;}
#g2{color: #4285F4;}
#l{color: #0F9D58;}
#e{color: #DB4437;}