.container {
  width: 1250px;
  margin: auto;
}

.head {
  width: 100%;
  height: 80px;
  background-color: #1e1e1e;
  overflow: hidden;
}

.headname {
  color: white;
  text-align: center;
}

.subtext {
  color: azure;
  font-size: 20px;
}

.navigation {
  width: 100%;
  text-align: center;
  background-color: #38454c;
  height: 50px;
  overflow: hidden;
}

.foratag {
  width: 80%;
  padding: 10px;
  height: 100%;
}

.home {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  margin-left: 150px;
}

.about {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
}

.portfolio {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
}

.contact {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}

#about {background-color: #f4f4f4;
  height: 612px;
  width: 35%;
  font-size: 20px;
  float: left;
  padding: 20px;
}

.aboutme {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.aboutname {
  color: #666;
  font-size: 20px;
  margin-bottom: 10px;
}

.abouttext {
  color: #666;
  margin-bottom: 20px;
}
.bio {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
}




#projects {
  width: 58.6%;
  font-size: 20px;
  float: right;
  background-color: #f6f6f6;
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  color: #333;
  font-size: 22px;
  margin-bottom: 10px;
}

.project p {
  color: #666;
  margin-bottom: 10px;
}

.foot {
  width: 100%;
  height: 80px;
  background-color: #38454c;
  color: aliceblue;
  clear: both; /* Clear floats */
}

.foottext {
  text-align: center;
  padding: 20px;
  padding-top: 20px;
}
